*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
h1{
    text-align: center;
}
.grilla{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    align-items: center;
    justify-content: center;
    gap: 5px 5px;
    justify-items: center;
}
.carta{
    border-radius: 5px;
    background-color: grey;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.encontrada{
    opacity: 0.6;
}

._1{
   background-image: url("./imagenes/1.svg"); 
   background-repeat: no-repeat;
   background-size: 100%;
}
._2{
   background-image: url("./imagenes/2.svg"); 
   background-repeat: no-repeat;
   background-size: 100%;
}
._3{
   background-image: url("./imagenes/3.svg"); 
   background-repeat: no-repeat;
   background-size: 100%;
}
._4{
   background-image: url("./imagenes/4.svg"); 
   background-repeat: no-repeat;
   background-size: 100%;
}
._5{
   background-image: url("./imagenes/5.svg"); 
   background-repeat: no-repeat;
   background-size: 100%;
}
._6{
   background-image: url("./imagenes/6.svg"); 
   background-repeat: no-repeat;
   background-size: 100%;
}
._7{
   background-image: url("./imagenes/7.svg"); 
   background-repeat: no-repeat;
   background-size: 100%;
}
._8{
   background-image: url("./imagenes/8.svg"); 
   background-repeat: no-repeat;
   background-size: 100%;
}
._9{
   background-image: url("./imagenes/1.svg"); 
   background-repeat: no-repeat;
   background-size: 100%;
}
._10{
   background-image: url("./imagenes/2.svg"); 
   background-repeat: no-repeat;
   background-size: 100%;
}
._11{
   background-image: url("./imagenes/3.svg"); 
   background-repeat: no-repeat;
   background-size: 100%;
}
._12{
   background-image: url("./imagenes/4.svg"); 
   background-repeat: no-repeat;
   background-size: 100%;
}
._13{
   background-image: url("./imagenes/5.svg"); 
   background-repeat: no-repeat;
   background-size: 100%;
}
._14{
   background-image: url("./imagenes/6.svg"); 
   background-repeat: no-repeat;
   background-size: 100%;
}
._15{
   background-image: url("./imagenes/7.svg"); 
   background-repeat: no-repeat;
   background-size: 100%;
}
._16{
   background-image: url("./imagenes/8.svg"); 
   background-repeat: no-repeat;
   background-size: 100%;
}